body {
  background-color: #BBE0E9;
  background-repeat: repeat;
}

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
  margin-left: 35px;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}

#navbar-primary .navbar-nav > li > a > img{
  display: inline-block;
  float: none;
}

#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  color: green;
  font-size: 2em;
  font-family: 'Holtwood One SC', serif;
}

.menu-row {
  background-color: honeydew;
}

.menu-row h1 {
  color: #FE9248;
  font-family: 'Holtwood One SC', serif;
  font-size: 4em;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}

.menu-row h3 {
  color: black;
  font-family: 'Holtwood One SC', serif;
  font-
  font-size: 3em;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

ul.leaders {
    font-family: 'Gloria Hallelujah', cursive;
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: inherit;
    }

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: honeydew
  }

ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: honeydew;
  }

.menu-items h1 {
  color: #FE9248;
  font-family: 'Holtwood One SC', serif;
  font-size: 4em;
  margin-top: 0px;
  padding: 10px;
  text-align: center;

}

.about-info h1 {
  color: #FE9248;
  font-family: 'Holtwood One SC', serif;
  font-size: 3.5em;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}

.about-info p {
  font-family: 'Holtwood One SC', serif;
  text-decoration: underline;
  margin-left: 50px;
}

.about-info ul li {
  list-style: none;
  font-family: 'Holtwood One SC', serif;
  font-size: 0.7em;
}

.map-info iframe {
  width: 100%;
  border: 0 allowfullscreen;
  pointer-events:none;
}
